<ion-view  chache-view="false" can-swipe-back="false"> 

    <ion-content overflow-scroll="true">
        <h4 class="static-header">About Us</h4>
        <div class = "custom-genie-text custom-genie-width">
            <div class = "custom-genie-textpage">

                <div class = "custom-genie-textrght">
                    <div class = "custom-genie-paradivrght">
                        <div class = "custom-genie-pararghtxt">


                            <b style = "color:#085394">What is it?</b>
                            <p>
                                PriceGenie is a "real time online price comparison engine". What???<br>
                                Ok!!Suppose you are looking to buy a product online, be it a mobile phone, book or home appliance like microwave. You would always want to get it cheap!
                                So we have created a system where in you just put in which product you want to buy and we get data from more than 30 eCommerce stores on the web, get the
                                prices of you are product and show you the lowest price of the product with prices on each store.<br>
                                That's Great!!!<br>
                                Wait there is still more :) The prices we fetch are realtime, which means the exact price on the store is displayed to you. It's not a 1week old or 3days old price but the exact price on the store.
                                Plus we also show you more information like coupons, offers from the website, shipping time and cost. <br>
                                Wow!!<br>
                                I know. So what are you waiting for, try out pricegenie and buy you are favourite product at the lowest prices available.
                            </p>
                            <b style = "color:#085394">Our Team?</b>
                            <p>
                                PriceGenie is a product of <i id="excel" ng-click='gotoPricegenie()'> Excellence Technologies</i>
                                <br>
                            </p><div class = "custom-team">
                                <div class = "custom-photo">
                                    <img width = "50px" src = "img/manish.jpeg" class = "custom-thumbnail">
                                </div>
                                <div class = "custom-text">
                                    <b>Manish Prakash - CoFounder &amp;
                                        Product Manager </b>
                                    <p>Responsible for full implementation of PriceGenie from Technology to UI flow.</p>
                                    <p>B.Tech from IIIG 2004 Batch.</p>
                                </div>
                                <div style = "clear:both"></div>
                                <br>
                                <div class = "custom-photo">
                                    <img width = "50px" src = "img/mukul.jpeg" class = "custom-thumbnail">
                                </div>
                                <div class = "custom-text">
                                    <b>Kumar Mukul - CoFounder
                                    </b>
                                    <p>CoFounder and Advisor at PriceGenie</p>
                                    <p>B.Tech from IIIKGP 2004 Batch.</p>
                                </div>
                                <div style = "clear:both"></div>
                                <br>
                                <div class = "custom-photo">
                                    <img width = "50px" src = "img/mahima.jpeg" class = "custom-thumbnail">
                                </div>
                                <div class = "custom-text">
                                    <b>Mahima K Manish - UI Designer</b>
                                    <p>UI Designer for PriceGenie</p>
                                </div>
                                <div style = "clear:both"></div>
                            </div>
                            <p></p>
                            <b style = "color:#085394">Inspiration</b>
                            <p>
                                Well it all started like this!One day (Dec 2012) i decided to buy a TV, did my research;
                                found the TV which i wanted and finally started to look for the best price.
                                <br>
                                I googled about the TV and started to visit all the eCommerce Stores which had the TV. Noted down there prices and then started searching for coupons for each store so as to know the best price i could get. In the end of it i realized i had spent around half day searching on google, trying out coupon codes and still wasn't sure from where to buy the TV. I even visited other price comparison sites, but found each site had some or the other drawback which made me not to rely on them. Some had very few websites listed, some had very old pricing and some did not have the TV which i wanted.
                                <br>
                                In the end i finally bough my TV from a store, but i had spend a lot of time on finding the best price.
                                <br>
                                It was then, i realized that something should be done to automate this whole process and reduce the time spent to a few seconds.
                                <br>
                                This was the beginning of pricegenie! True story :)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </ion-content>
</ion-view>