<ion-view  chache-view="false" can-swipe-back="false">

    <ion-content overflow-scroll="true">
        <h4 class="static-header">Contact Us</h4>
        <div class="white_header" style="border-bottom: 1px solid #ccc">
            <div class="left_section" ng-click="backHistory();">
                <img src='img/leftarrow.png' />
            </div>
            <div class="right_section">
                <div class="heading">About Us</div> 
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="contact-genie-text contact-genie-width">
            <div class="contact-genie-textpage">

                <div class="contact-genie-textrght">
                    <div class="contact-genie-paradivrght">
                        <div class="contact-genie-pararghtxt">
                            <b>Email</b>
                            <p>
                                Please mail us at <a ng-href="mailto:contact@pricegenie.co">contact [at] pricegenie.co</a> with any questions, feedback or suggestions.
                            </p>

                            <b>Address</b>
                            <div>
                                <span>
                                    <div>
                                        <span>
                                            <span></span>
                                            <span></span>
                                        </span>
                                    </div>
                                </span>
                            </div>
                            <div> 
                                <span>Excellence Technosoft Pvt Ltd</span> 

                                <div>
                                    <span>C84A Sector 8</span><br> <span>Noida</span> <span>UP - 201301.</span> <br> 
                                    <span>Ph:</span> <span>9717071555</span>
                                </div>
                            </div>
                            <p></p>
                            <div style="clear:both"></div>
                            <p></p>
                            <b>Partnership - Advertisement</b>
                            <p>
                                Please mail us at <a ng-href="mailto:partner@pricegenie.co">partner [at] pricegenie.co</a>
                            </p>
                        </div>

                        <p class="contact-genie-pbotext">At Price Genie we're committed to continually improving our site and your shopping experience. We welcome feedback from both shoppers and merchants.</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </ion-content>
</ion-view>
