<ion-view cache-view='false' hide-nav-bar="true" can-swipe-back="false"> 
    <ion-header-bar align-title="left" class="myheaderbar">
        <div class="buttons">
            <button class="button button-clear" ui-sref="menu.home"> 
                <i class="icon icon-right ion-android-close">

                </i></button>
        </div>
        <h1 class="title" style="text-align: center">Noitfy</h1>
    </ion-header-bar>
    <ion-content direction="y" overflow-scroll="true">
        <div id="deal_notify_content">
            <div style="margin:0px auto;width:98%;text-align:center">
                <div class="deal_notify_finish_heart"></div>
                <div class="deal_notify_text" style="font-size:.9em;padding-top:10px">
                    Thank You For Subscribing!
                </div>
                <div id="deal_notify_ajax_msg" class="deal_notify_text" style="padding-top: 20px;">
                    You will start recieving notification's on your favourite deals
                </div>
                <a href="#" ui-sref="menu.home" style="font-size:.9em">Back</a>
            </div></div>
    </ion-content>
</ion-view>