<!--filter model template-->
<ion-modal-view class="modalbackground" style="background-color: #3e454d;">
    <ion-header-bar  class=" fl" >

        <div class="buttonsS  "  ng-click="closeModal()">
            <i class="ion-chevron-left backB"></i>

            <img src="img/genie-logo-g.png" alt="Side Navigation">
        </div>
        <div class="side-right">
            FILTER
        </div>

    </ion-header-bar>

    <div class="sidemenu">
        <ul class="fil ul">
                <ion-item class="fil1 li"  ng-class="{'backclass':color == 'brand'}"  ng-click="brandModal('brand')">
                Brands
            </ion-item >
            <ion-item  class="fil1 li"  ng-class="{'backclass':color == 'price'}"  ng-click="priceModal('price')">
                Price Range
            </ion-item>
            <ion-item class="fil1 li"  ng-class="{'backclass':color == key}"  ng-repeat='(key,data) in response.filters track by $index'ng-click="filterModal(key)">
                {{key1(key)}}
            </ion-item>
            <div class="clearfix"></div>
        </ul>
        <div class="clearfix"></div>

    </div>  
    <ion-content has-bouncing="false" >


        <div class="showData" ng-style="abcd">

            <div ng-show="brand12" >

                <div id="filter_options" class="filter_options"  style="overflow:hidden" >
                    <div class="sortModal"  ng-class="{'backclass1':change == brand.name}"  ng-repeat="brand in response.brands track by $index"   on-tap="displaybrands(brand.href, brand.name)" >
                        <i ng-model="choice.A" class="te" ng-value="'A'">{{brand.name}}</i>
                    </div>
                </div>
            </div>

            <div ng-show="priceRange" >

                <div id="filter_options" class="filter_options" style="overflow:hidden">
                    <div class="sortModal" ng-style="clearf" ng-class="{'backclass1':change == range }" ng-repeat="range in response.ranges track by $index"   on-tap="displayrange(range.href, range.low, range.high,range)"  >
                        <i  ng-model="choice.A" class="te" ng-value="'A'">Rs.{{range.low}}-Rs.{{range.high}}</i>
                    </div>
                </div>

            </div>
            <div ng-show="filterShow" >
                <div id="filter_options" class="filter_options" style="overflow:hidden">
                    <div class="sortModal"  ng-style="clearf" ng-class="{'backclass1':change == fil.text}"  ng-repeat="fil in ccc track by $index"  on-tap="displayfilters(fil.url, fil.text)">
                        <i   icon="ion-android-done" class="te" ng-model="choice.A" ng-value="'A'">{{fil.text}}</i>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-modal-view>

